<style>
    .mynavbar{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+51,ffffff+79&1+25,0+97 */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 25%, rgba(255,255,255,0.64) 51%, rgba(255,255,255,0.25) 79%, rgba(255,255,255,0) 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 25%,rgba(255,255,255,0.64) 51%,rgba(255,255,255,0.25) 79%,rgba(255,255,255,0) 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 25%,rgba(255,255,255,0.64) 51%,rgba(255,255,255,0.25) 79%,rgba(255,255,255,0) 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }

    .menu{
        color: black;
    }
    
</style>

<nav class="navbar navbar-expand-lg mynavbar">
  <a class="navbar-brand" href="/">Sarav</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <div class="menu">Menu</div>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>