<style>
    #top{
        display:inline-block;
        margin-left:40px;
        font-size:20px;
        float:right;
        margin-right:30px;
        
    }
    header{
        padding:3px;
        height:50px;
        
    
    }
    
</style>
<header>
    <p id="top"><a href="/contact"><b>Contact</b></a></p>
    <p id="top"><a href="/about"><b>About</b></a></p>
    <p id="top"><a href="/"><b>Home</b></a></p>
    
    
</header>
