<html>

<head>
    <link rel="stylesheet" href="aboutindex.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <title>About Us</title>
</head>
<div class="container-fluid">
    {{> header}}
    <h1 style="font-size:50px"><b><i>ABOUT</i></b></h1>
    <hr noshade>
    <div class="container">

        <ul>
            <li>I'm from Small city Patiala which is located in Punjab,India.</li>
            <li>Pursuing Computer Software Engineering.</li>
            <li>Love to Making websites and dealing with logics.</li>
            <li>Making projects With several Languages Like
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>JQUERY</li>
                    <li>Nodejs</li>
                    <li>and many more are learning....</li>
                </ul>
            </li>
        </ul>

        <div class="row">
            <div class="col-sm-4"><a href="https://www.linkedin.com/in/saravjotsingh/" target="_blank"><img src="https://lh3.googleusercontent.com/00APBMVQh3yraN704gKCeM63KzeQ-zHUi5wK6E9TjRQ26McyqYBt-zy__4i8GXDAfeys=w300"></a></div>
            <div class="col-sm-4"><a href="https://github.com/saravjotsingh" target="_blank"><img src="https://image.flaticon.com/icons/png/512/25/25231.png"></a></div>
            <div class="col-sm-4"><img src="http://img.freepik.com/free-icon/twitter_318-136405.jpg?size=338&ext=jpg"></div>

        </div>
        {{> footer}}
    </div>


</div>

</html>
