<html>

<head>
    <title>Contact Information</title>
    <link rel="stylesheet" href="contactindex.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
</head>

<body style="background-color:#00FFFF">

    <div class="top">
        {{> header}}
        <div class="contact">
            <div class="text">
                <h3>Get in Touch with me.</h3>
                <b>Name:</b><br>
                <input type="text" placeholder="Enter Name"><br>
                <b>Mobile No:</b><br>
                <input type="text" placeholder="Enter Mobile"><br>
                <b>E-mail:</b><br>
                <input type="email" placeholder="Enter E-mail"><br>
                <b>Your Query</b><br>
                <textarea rows="5" cols="50" placeholder="Ask me anything."></textarea><br>
                <button class="btn btn-primary">SUBMIT</button>
            </div>

            <div class="any">
                <img src="https://image.freepik.com/free-vector/programmer-working-on-the-computer_23-2147505689.jpg">
                
            </div>
        </div>
        {{> footer}}
    </div>
</body>

</html>
