<html>

<head>
    <title>Main page</title>    
   {{> imports}}
   <link rel='stylesheet' href="mainpageindex.css">
</head>

<body>  

        {{> header}}
    <div class="container">

        <div class="text-center img-box">
              <img class="img img-fluid" src='https://avatars3.githubusercontent.com/u/26213231?v=3&u=a4cc6e25078e53646cfcbf3d5f8ce5f34ce822cc&s=400'>      
        </div>

        <h1 class="text-center"><b><i>WELCOME</i></b></h1>

        <div class="text-center">
            <i class="material-icons down">touch_app</i>
        </div>

        <div class="info">
            
            <p>A bit About Me..</p>
            <p>I'm Saravjot Singh and doing Computer 
                Engineering.I am very Passionate about making and learning new things about Computer.
                I am Mainly a Front End Web Developer and Learning Back End and wants to become Full 
                Stack Web Developer.</p>

        </div>
        {{> footer}}
    </div>


        
    
</body>
    {{> scripts}}

</html>
