<html>

<head>
    <title>Main page</title>
    <link rel='stylesheet' href="mainpageindex.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>

<body>  
               
    <div class="container-fluid text-center">
       {{> header}} 
        <div class="name">
            
            <h1><b><i>SARAVJOT SINGH</i></b></h1>
            <p>---Front End Developer/Beginner</p>
            <hr noshade style="width:60%;">
        </div>
        <div class="profilepic">
            <img src='https://avatars3.githubusercontent.com/u/26213231?v=3&u=a4cc6e25078e53646cfcbf3d5f8ce5f34ce822cc&s=400'>




        </div>
        <div class="info">
            <h1><b><i>WELCOME</i></b></h1>
            <p>A bit About Me..</p>
            <p>I'm Saravjot Singh and doing Computer Engineering.I am very Passionate about making and learning new things about Computer.I am Mainly a Front End Web Developer and Learning Back End and wants to become Full Stack Web Developer.</p>

        </div>
        {{> footer}}
    </div>
    
</body>

</html>
